.t1.rf-title {
  color: green;
}
.t1.rf-textbox {
  color: green;
}
.t1.rf-error {
  color: green;
}

.t2.rf-title {
  color: brown;
}
.t2.rf-textbox {
  color: brown;
}
.t2.rf-error {
  color: brown;
}


.f {
  display: flex;
}